/* Here are the used colors: #121212, #ffffff, #b8b8b8.
Margins and paddings don't have to match the image exactly.
Use percentages (%) when defining containers width.
Add flexbox properties to recreate the layout from the image. */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;

}

.footer {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    height: 250px;
    padding: 30px 20px 0px 50px;
}

.company-info {
    display: flex;
    width: 100%;
    height: 70%;
    /* padding: 20px 20px 0px 40px; */
}

.company-info__logo {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
    padding-right: 60px;
}

.company-info__logo p {
    margin: 0;
}

.company-info__content,
.company-info__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    height: 75%;
    padding: 3px;

}

.company-info__content {
    width: 50%;
}

.company-info__social {
    width: 25%;
}

.company-info__content_link,
.company-info__social_link {
    display: flex;
    height: 15%;
    margin: 5px;
    text-decoration: none;
    color: #ffffff;

}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    border-top: #b8b8b8 solid 1px;
    margin-top: 10px;


}

.copyright_text,
.copyright-info {
    display: flex;
    color: #b8b8b8;
    margin: 10px 0;
    font-size: 0.8rem;

}

.copyright-info_link {
    display: flex;
    text-decoration: none;
    color: #b8b8b8;
    justify-content: flex-end;
    margin: 0 10px;
}